@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
    font-family: 'BodoniSeventyTwo';
    src: url('/src/assets/fonts/local/bodoni/bodoni-seventytwo-itc-book.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
